@media only screen and (max-width: 700px) {
    #ds-match .tt-td {
        justify-content: center;
        position: relative;
    }

        #ds-match .tt-td .dn {
            position: unset;
        }

    .dataTable > tbody > tr{
        justify-content: center;
    }
    .dataTable > tbody > tr > td {
        max-width: 150px !important;
    }
}
