@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale = 1.0, user-scalable=no">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.ico" />
    <title>Not Found | Premier Language</title>
</head>
<body>
    <img src="~/assets/images/404-not-found.png" />
    <div style="position:absolute; top:50%; right: 50%; transform: translate(-50%, -50%)">
        <a href="/TrangChu" style="color: #000; font-size: 30px"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Quay lại trang chủ</a>
    </div>
</body>
<script src="https://use.fontawesome.com/1e084cc5a9.js" defer></script>
</html>

