@{
    ViewData["Title"] = "Đội bóng | Thiết lập | Premier Leaugue";
}
@using PTIT.B17DCCN490.PTTK_DBCLPM.Models.Entities;
@model List<DoiBong>

<style>
    .row {
        width: 100%;
        display: flex;
        flex-direction: column;
        color: #000;
        margin-bottom: 20px;
    }

        .row label {
            padding-bottom: 5px;
        }

        .row input {
            height: 32px;
            border: 1px solid #000;
            outline: none;
            padding-left: 15px;
            box-sizing: border-box;
            border-radius: 5px;
        }
</style>
<div class="homePage">
    <section class="match mx-10">
        <div class="title-site d-flex align-items-center">
            <div class="footballIcon"></div>
            <h1 class="title">Danh sách đội bóng</h1>
            <div class="ml-auto"></div>
            <button class="btn" onclick="openForm()">Thêm mới</button>
        </div>
    </section>
    <table class="dataTable" id="ds-db">
        <thead>
            <tr>
                <th class="txt-center">STT</th>
                <th class="txt-left">Tên</th>
                <th class="txt-left">Sân đấu</th>
            </tr>
        </thead>
        <tbody>
            @{
                for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td class="txt-center">@(i + 1)</td>
                        <td class="txt-left">@Model[i].Ten</td>
                        <td class="txt-left">@Model[i].SanDau.Ten</td>
                    </tr>
                }
                if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="3">Dữ liệu không có sẵn</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div class="bgForm" id="screen" style="display: none">
        <div class="form">
            <div style="position: relative; height: 100%; width: 100%">
                <div class="title-form">Thêm đội bóng <span class="ml-auto" style="cursor: pointer" onclick="closeForm()">x</span></div>
                <div class="body-form">
                    <div class="row">
                        <label>Tên <span class="c-red">(*)</span></label>
                        <input id="Ten" required type="text" class="input-form" tabindex="1" />
                    </div>
                    <div class="row">
                        <label>Sân đấu <span class="c-red">(*)</span></label>
                        <input id="TenSanDau" required type="text" class="input-form" tabindex="2" />
                    </div>
                    <div class="row">
                        <label>Số ghế <span class="c-red">(*)</span></label>
                        <input id="SoGhe" required type="number" class="input-form" tabindex="3" />
                    </div>
                </div>
                <div class="footer-form">
                    <button class="btn" onclick="save()" tabindex="4">Cất</button>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">

    let screen = document.getElementById("screen");
    let name = document.getElementById("Ten");
    let stadium = document.getElementById("TenSanDau");
    let seats = document.getElementById("SoGhe");
    function openForm() {
        screen.style.display = "block";
        name.focus();
    }

    function closeForm() {
        screen.style.display = "none";
    }

    function save() {
        if (name.value != null && stadium.value != null) {
            var data = {
                Ten: name.value,
                SanDau: { Ten: stadium.value, SoGhe: seats.value }
            };
            fetch("https://localhost:44352/DoiBong",
                {
                    body: JSON.stringify(data),
                    method: "POST",
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => {
                    window.location.href = "/DoiBong";
                })
                .catch(error => { console.log(error); })
        }
    }

</script>
