.loginPage {
    background: #040c1f;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .loginPage > .formLogin {
        width: 500px;
        height: auto;
        background: #fff;
        border-radius: 5px;
        padding-bottom: 30px;
    }

        .loginPage > .formLogin > .title {
            color: #56a306;
            font-size: 40px;
            text-align: center;
            font-weight: 700;
        }

        .loginPage > .formLogin > form {
            margin: 50px;
            color: #000;
        }


            .loginPage > .formLogin > form label {
                margin-top: 20px;
                display: block;
            }

.TenDangNhap, .MatKhau {
    outline: none;
    display: block;
    height: 32px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 10px 0;
    font-family: 'Raleway', sans-serif;
    border: 1px solid #040c1f;
    border-radius: 5px;
}

    .TenDangNhap:focus, .MatKhau:focus {
        border: 1px solid #56a306;
    }

.loginBtn {
    height: 32px;
    background: #56a306;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
}

    .loginBtn:focus, .loginBtn:hover {
        background: #040c1f;
        color: #fff;
    }

.c-red {
    color: red !important;
}

.b-red{
    border: 1px solid red !important;
}
