#tk-goal .player .fc {
    padding-left: 20px;
    color: #F2F3F3;
}

.w-t-num {
    width: 80px;
}


.notiMes{
    padding: 25px;
    display: block;
}

@media only screen and (max-width: 768px) {
    .tabControlTitle{
        width: 100% !important;
    }
}