.btn {
    height: 32px;
    background: #009b3a;
    min-width: 80px;
    outline: none;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0;
}

.btn-default-w {
    background: #fff !important;
    color: #000 !important;
}

    .btn:focus {
        background: #040c1f;
        color: #fff;
    }

    .btn:hover {
        background: #040c1f !important;
        color: #fff !important;
    }