.d-block{
    display: block;
}

.d-none{
    display: none;
}

.d-flex{
    display: flex;
    flex-direction: row;
}

.align-items-center{
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}