

.p-drop {
    height: 32px;
    border-radius: 3px;
    background: #2c354c;
    border: none;
    outline: none;
    color: #fff;
    padding: 0 10px;
    appearance: none;
}

    .p-drop option {
        border: none;
        outline: none;
        background: #fff;
        color: #000;
    }
