
.dataTable {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
}

    .dataTable > thead {
        background: #162443;
        height: 43px;
    }

        .dataTable > thead > tr > th {
            white-space: nowrap;
        }

    .dataTable > tbody {
        background: #0e172e;
    }

        .dataTable > tbody > tr {
            height: 50px;
            box-sizing: border-box;
            cursor: pointer;
        }

            .dataTable > tbody > tr:hover {

            }

            .dataTable > tbody > tr > td {
                text-align: center;
                padding: 0 5px;
                box-sizing: border-box;
            }