
.header {
    height: 60px;
    width: 100%;
    background: #52ac1c;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 999;
}

    .header > .container {
        width: 60%;
        height: 100%;
        display: block;
        margin: 0 auto;
        box-sizing: border-box;
    }

        .header > .container > .box {
            display: flex;
            align-items: center;
            position: relative;
        }

.logo {
    background: url("../../assets/images/logo.png");
    height: 60px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.toggleIcon {
    display: none;
}

.menu {
    margin-left: auto;
    height: 60px;
    display: flex;
    align-items: center;
}

.menu-item {
    text-transform: uppercase;
    font-weight: 400;
    padding: 0 15px;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    color: #fff;
}

    .menu-item:hover {
        color: #fff;
        background: #040c1f;
    }

    .menu-item.active {
        color: #fff;
        background: #040c1f;
    }

.submenu-item-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .submenu-item-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .submenu-item-content a:hover {
            background-color: #ddd;
        }

#setup:hover .submenu-item-content {
    display: block !important;
}

#setup:hover .menu-item {
    background: #040c1f;
    color: #fff;
}

@media only screen and (max-width: 1400px) and (min-width: 1024px) {

    .header > .container {
        width: 80% !important;
    }

    .menu {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        background: #fff;
        height: fit-content !important;
        width: 100% !important;
    }

    .toggleIcon {
        display: block;
        margin-left: auto;
    }

    .bar {
        height: 4px;
        width: 35px;
        background: #fff;
        margin: 5px 0;
    }

    .menu-item {
        color: #000 !important;
    }

        .menu-item.active {
            color: #fff !important;
        }

        .menu-item:hover {
            color: #fff !important;
        }
}


@media only screen and (max-width: 1024px) {

    .header > .container {
        width: 100% !important;
    }

        .header > .container > .box {
            padding: 0 10px;
        }

    .menu {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        background: #fff;
        height: fit-content !important;
        width: 100% !important;
    }

    .toggleIcon {
        display: block;
        margin-left: auto;
    }

    .bar {
        height: 4px;
        width: 35px;
        background: #fff;
        margin: 5px 0;
    }

    .menu-item {
        color: #000 !important;
    }

        .menu-item.active {
            color: #fff !important;
        }

        .menu-item:hover {
            color: #fff !important;
        }
}
