@using PTIT.B17DCCN490.PTTK_DBCLPM.Models.Entities;
@using PTIT.B17DCCN490.PTTK_DBCLPM.Models.ViewModels;
@using Newtonsoft.Json;
@model BanToChuc;
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng nhập | Premier Language</title>
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.ico" />
</head>
<body>
    <div class="w-100 h-100-sc d-flex align-items-center justify-content-center">
        <div class="formLogin">
            <h1 class="txt-center">Đăng nhập</h1>
            <form method="post" asp-controller="BanToChuc" asp-action="KiemTraDangNhap" name="DangNhap" onsubmit="return validateForm()">
                <div class="d-flex">
                    <label class="w-30">Tên đăng nhập <span class="c-red">(*)</span></label>
                    <input type="text"
                           asp-for="TenDangNhap"
                           class="p-input default w-70"
                           autofocus
                           tabindex="1"
                           title="Trường này không được để trống"
                           onblur="checkEmpty('TenDangNhap')"
                           onfocus="removeError('TenDangNhap')" />
                </div>
                <div class="d-flex">
                    <label class="w-30">Mật khẩu <span class="c-red">(*)</span></label>
                    <input type="password"
                           asp-for="MatKhau"
                           class="p-input default w-70"
                           tabindex="2"
                           title="Trường này không được để trống"
                           onblur="checkEmpty('MatKhau')"
                           onfocus="removeError('MatKhau')" />
                </div>
                <div class="d-flex justify-content-center">
                    <input type="submit" value="Login" tabindex="3" class="btn">
                </div>
            </form>
        </div>
    </div>
    @if (TempData["UserMessage"] != null)
    {
        var message = JsonConvert.DeserializeObject<ToastMessage>(TempData["UserMessage"].ToString());
        <div class="toast toast-@message.Type" id="@message.Name">
            <div class="d-flex align-items-center">
                <div class="toastIcon toastIcon-@message.Type"></div>
                @message.Content
            </div>
            <div class="closeIcon" onclick="closeToast('@message.Name')">x</div>
        </div>
        <script type="text/javascript">
            setTimeout(function () {
                this.closeToast("@message.Name");
            }, 2000);
        </script>
    }
</body>
</html>
<script src="~/js/common.js"></script>
<script type="text/javascript">
    function checkEmpty(id) {
        const element = document.getElementById(id);
        let val = element.value;
        if (isNullOrUndefined(val)) {
            document.getElementById(id).classList += " b-red";
        }
    }

    function removeError(id) {
        const inputElement = document.getElementById(id);
        inputElement.classList = "p-input default w-70";
        
    }

    function validateForm() {
        let formElement = document.forms["DangNhap"];
        let tenDangNhap = formElement["TenDangNhap"].value;
        let matKhau = formElement["MatKhau"].value;
        let flag = true;


        if (isNullOrUndefined(tenDangNhap)) {
            document.getElementById("TenDangNhap").classList += " b-red";
            flag = false;
        }

        if (isNullOrUndefined(matKhau)) {
            document.getElementById("MatKhau").classList += " b-red";
            flag = false;
        }
        return flag;
    } 
</script>
