@{
    ViewData["Title"] = "Trang chủ | Premier Language";
}

<div class="page">
    <section>
        <div class="d-flex align-items-center">
            <div class="footballIcon"></div>
            <h1 class="title">danh sách trận đấu</h1>
        </div>
        <div style="background: #0e172e; border-radius: 5px;">
            <span style="padding: 25px; display: block;">Tính năng này đang được phát triển</span>
        </div>
    </section>
</div>