@{
    ViewData["Title"] = "Trang chủ | Premier Language";
}

<div class="homePage">
        @*<section class="banner">
            <div class="comingMatch">
                <div class="slideshow">
                    <div class="slide fade">
                        <div class="schedule">06:00 08/10</div>
                        <div class="flagFC">
                            <div class="hostFC">
                                <img src="./assets/images/flag/duc.png" alt="">
                            </div>
                            <div class="vs">VS</div>
                            <div class="guestFC">
                                <img src="./assets/images/flag/duc.png" alt="">
                            </div>
                        </div>
                        <div class="round">Vòng đấu bảng</div>
                    </div>

                    <a class="prev">&#10094;</a>
                    <a class="next">&#10095;</a>
                </div>
            </div>
            <div class="imgBanner"></div>
        </section>*@
    <section class="match mx-10">
        <div class="title-site d-flex align-items-center">
            <div class="footballIcon"></div>
            <h1 class="title">danh sách trận đấu</h1>
        </div>
        <div style="background: #0e172e; border-radius: 5px;">
            <span style="padding: 25px; display: block;">Tính năng này đang được phát triển</span>
        </div>
        @*<div class="matchList">
            <div class="row">
                <div class="column">
                    <div class="card">
                        <div class="cardTitle">
                            <div class="round">Vòng đấu bảng</div>
                            <div class="schedule">06:00 08/10</div>
                        </div>
                        <div class="cardBody">
                            <div class="flagFC">
                                <div class="hostFC"></div>
                                <div class="vs">VS</div>
                                <div class="guestFC"></div>
                            </div>
                            <div class="nameFC">Việt Name - Trung Quốc</div>
                        </div>
                        <div class="cardFooter">
                            Xem chi tiết
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="cardTitle">
                            <div class="round">Vòng đấu bảng</div>
                            <div class="schedule">06:00 08/10</div>
                        </div>
                        <div class="cardBody">
                            <div class="flagFC">
                                <div class="hostFC"></div>
                                <div class="vs">VS</div>
                                <div class="guestFC"></div>
                            </div>
                            <div class="nameFC">Việt Name - Trung Quốc</div>
                        </div>
                        <div class="cardFooter">
                            Xem chi tiết
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="card">
                        <div class="cardTitle">
                            <div class="round">Vòng đấu bảng</div>
                            <div class="schedule">06:00 08/10</div>
                        </div>
                        <div class="cardBody">
                            <div class="flagFC">
                                <div class="hostFC"></div>
                                <div class="vs">VS</div>
                                <div class="guestFC"></div>
                            </div>
                            <div class="nameFC">Việt Name - Trung Quốc</div>
                        </div>
                        <div class="cardFooter">
                            Xem chi tiết
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="cardTitle">
                            <div class="round">Vòng đấu bảng</div>
                            <div class="schedule">06:00 08/10</div>
                        </div>
                        <div class="cardBody">
                            <div class="flagFC">
                                <div class="hostFC"></div>
                                <div class="vs">VS</div>
                                <div class="guestFC"></div>
                            </div>
                            <div class="nameFC">Việt Name - Trung Quốc</div>
                        </div>
                        <div class="cardFooter">
                            Xem chi tiết
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="card">
                        <div class="cardTitle">
                            <div class="round">Vòng đấu bảng</div>
                            <div class="schedule">06:00 08/10</div>
                        </div>
                        <div class="cardBody">
                            <div class="flagFC">
                                <div class="hostFC"></div>
                                <div class="vs">VS</div>
                                <div class="guestFC"></div>
                            </div>
                            <div class="nameFC">Việt Name - Trung Quốc</div>
                        </div>
                        <div class="cardFooter">
                            Xem chi tiết
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="cardTitle">
                            <div class="round">Vòng đấu bảng</div>
                            <div class="schedule">06:00 08/10</div>
                        </div>
                        <div class="cardBody">
                            <div class="flagFC">
                                <div class="hostFC"></div>
                                <div class="vs">VS</div>
                                <div class="guestFC"></div>
                            </div>
                            <div class="nameFC">Việt Name - Trung Quốc</div>
                        </div>
                        <div class="cardFooter">
                            Xem chi tiết
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="card">
                        <div class="cardTitle">
                            <div class="round">Vòng đấu bảng</div>
                            <div class="schedule">06:00 08/10</div>
                        </div>
                        <div class="cardBody">
                            <div class="flagFC">
                                <div class="hostFC"></div>
                                <div class="vs">VS</div>
                                <div class="guestFC"></div>
                            </div>
                            <div class="nameFC">Việt Name - Trung Quốc</div>
                        </div>
                        <div class="cardFooter">
                            Xem chi tiết
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="cardTitle">
                            <div class="round">Vòng đấu bảng</div>
                            <div class="schedule">06:00 08/10</div>
                        </div>
                        <div class="cardBody">
                            <div class="flagFC">
                                <div class="hostFC"></div>
                                <div class="vs">VS</div>
                                <div class="guestFC"></div>
                            </div>
                            <div class="nameFC">Việt Name - Trung Quốc</div>
                        </div>
                        <div class="cardFooter">
                            Xem chi tiết
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="card">
                        <div class="cardTitle">
                            <div class="round">Vòng đấu bảng</div>
                            <div class="schedule">06:00 08/10</div>
                        </div>
                        <div class="cardBody">
                            <div class="flagFC">
                                <div class="hostFC"></div>
                                <div class="vs">VS</div>
                                <div class="guestFC"></div>
                            </div>
                            <div class="nameFC">Việt Name - Trung Quốc</div>
                        </div>
                        <div class="cardFooter">
                            Xem chi tiết
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="cardTitle">
                            <div class="round">Vòng đấu bảng</div>
                            <div class="schedule">06:00 08/10</div>
                        </div>
                        <div class="cardBody">
                            <div class="flagFC">
                                <div class="hostFC"></div>
                                <div class="vs">VS</div>
                                <div class="guestFC"></div>
                            </div>
                            <div class="nameFC">Việt Name - Trung Quốc</div>
                        </div>
                        <div class="cardFooter">
                            Xem chi tiết
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="card">
                        <div class="cardTitle">
                            <div class="round">Vòng đấu bảng</div>
                            <div class="schedule">06:00 08/10</div>
                        </div>
                        <div class="cardBody">
                            <div class="flagFC">
                                <div class="hostFC"></div>
                                <div class="vs">VS</div>
                                <div class="guestFC"></div>
                            </div>
                            <div class="nameFC">Việt Name - Trung Quốc</div>
                        </div>
                        <div class="cardFooter">
                            Xem chi tiết
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="cardTitle">
                            <div class="round">Vòng đấu bảng</div>
                            <div class="schedule">06:00 08/10</div>
                        </div>
                        <div class="cardBody">
                            <div class="flagFC">
                                <div class="hostFC"></div>
                                <div class="vs">VS</div>
                                <div class="guestFC"></div>
                            </div>
                            <div class="nameFC">Việt Name - Trung Quốc</div>
                        </div>
                        <div class="cardFooter">
                            Xem chi tiết
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </section>
    </div>